:root {
  --bg1: #0f0f13;
  --settings-bg: #adadad;
  --bg3: #040614;
  --bg4: #36569c;
  --warning-red: #e7b5b5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  text-transform: uppercase;

  display: flex;
  justify-content: center;

  color: rgba(255, 255, 255, 0.9);
  background-color: var(--bg1);

  font-family: 'Press Start 2P', 'Orbitron', 'Righteous', 'Teko', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 0.5rem; */
}

.app-container {
  /* width: 100vw; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  display: grid;
  grid-template-columns: minmax(auto-fit, 1fr) minmax(auto-fit, 1fr) minmax(auto-fit, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: 
    "title title title"
    "break timer study"
  ;

  text-align: center;
  
  /* border: 1px solid aqua; */
}

.title {
  margin: 1.5rem auto 4rem;
  font-size: 2rem;
  width: min-content;

  grid-area: title;
}

/* *************************** */
/* *        THE TIMER        * */
/* *************************** */
.timer-div {
  
  grid-area: timer;
  align-self: center;
  
  margin: 0 -8em;
  padding: 1.5em 0;
  background-color: rgb(152, 152, 152);
  z-index: 1;
  /* border: 1px solid white; */
}

.timer-inner-div {
  width: 100%;
  padding: .5em 9em;

  box-shadow: inset 0 0 50px -20px rgba( 0, 0, 0, .9);
  background-color: rgb(132, 132, 132);
}

.timer-title {
  margin: .75rem 0;
  font-size: 2em;
  text-shadow: 0 0 10px #000000;
}

.timer-phrase {
  margin: .75rem 0;
  font-size: 1em;
  text-shadow: 0 0 10px #000000;
}

.the-timer-screen {
  padding: 1em 2.5em;

  border-radius: 1rem;
  border: 5px solid rgb(0, 0, 0);
  background-color: #000000;
}

.the-timer-el {
  margin: 0;
  font-size: 3em;
}

.timer-controls-div {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.timer-btn {
  margin: 0 2rem;
}

/* ****************************************************** */
/* * DIV HOLDING BOTH SESSION LENGTH CONTROL COMPONENTS * */
/* ****************************************************** */
/* .set-timers-div {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
} */

/* ************************************** */
/* *  SESSION LENGTH CONTROL COMPONENT  * */
/* ************************************** */
.set-timer-div {
  min-width: 22em;
  min-height: 22em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-shadow: 0 0 10px #000000;
  
  padding: 1.5em;
  border-radius: 50%;
  background-color: rgb(152, 152, 152);
  box-shadow: 0 0 40px -20px rgba(0, 0, 0, .9);

  /* transform: rotate(-15deg); */

  z-index: 9;
  
  /* border: 1px solid pink; */
}

.set-timer-inner-div {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 50px -20px rgba(0, 0, 0, .9);
  border-radius: 50%;
  background-color: rgb(132, 132, 132);
}

.length-label {
  margin: 0 auto;
  font-size: 1em;
  width: min-content;
}

.set-timer-controls-div {
  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: 1px solid orange; */
}

.timer-value-screen {
  width: 90%;
  min-height: 4em;
  background-color: #000000;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75em 0;
  /* min-height: 3.5em; */

  /* transform: translateY(-15px) rotate(-15deg); */
}

.timer-value {
  margin: 0;
  font-size: 2.5em;
}


.control {
  margin: 0.25rem 0;
  font-size: 1.75em;
  cursor: pointer;
}

.control:hover {
  color: var(--warning-red);
}

.std-break {
  grid-area: break;
}

.std-study {
  grid-area: study;
}

/* ********************************** */
/* *     SESSION LENGTH SLIDERS     * */
/* ********************************** */
.slider {
  margin: 1rem 0;
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 15px;
  background: rgb(80, 80, 80);
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 3px;
}

/* CHROME */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(75, 75, 75);
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

/* FIREFOX */
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--bg2);
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb:active,
.slider::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

.slider::-moz-range-thumb:active,
.slider::-moz-range-thumb:hover {
  transform: scale(1.1);
}

.slider::-webkit-slider-thumb:active {
  box-shadow: 0 0 10px -2px rgba(255, 255, 255, 0.6);
}

.slider::-moz-range-thumb:active {
  box-shadow: 0 0 10px -2px rgba(255, 255, 255, 0.6);
}

/* ********************************* */
/* * SWITCH SESSION TYPE COMPONENT * */
/* ********************************* */
.sesh-switch-div {
  position: absolute;
  left: 1.5%;
  top: 1.5%;

  margin: 0.25rem 0.25rem;
  /* padding: 1rem 0 0 1rem; */

  display: flex;
  align-items: center;

  /* border: 1px solid blueviolet; */
}

/* ********************************* */
/* *          TEST BUTTON          * */
/* ********************************* */

.test-btn-div {
    position: absolute;
    left: 1.5%;
    bottom: 2%;
    
    margin: 0.25rem 0.25rem;
    
    display: flex;
    align-items: center;
}

/* **************************************** */
/* *  SWITCH / TEST BUTTON / TEXT STYLES  * */
/* **************************************** */

.abso-btn-icon {
  font-size: 1.25em;
  color: rgb(255, 255, 255, .8);
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.abso-btn-text {
  width: min-content;
  text-align: start;
  line-height: 1.5em;
  letter-spacing: 2px;
  font-size: 0.75rem;
  margin: 0;
  margin-left: 1rem;
}

/* ********************************* */
/* *     SOUND ON/OFF CONTROL      * */
/* ********************************* */
.sound-icon-div {
  width: 100px;
  height: 155px;
  position: absolute;
  top: 3%;
  right: 2%;

  cursor: pointer;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid aqua; */
}

.sound-icon {
  /* width: 50px;
  height: 50px; */
  font-size: 2.5em;
  color: rgba(255, 255, 255, 0.2);
}

#coming-soon {
  margin: 10px 0 0 0;
  line-height: 1.5em;
  width: min-content;
  color: rgba(255, 255, 255, 0.1);
}

/* ********************************* */
/* *        BUTTONS CLASSES        * */
/* ********************************* */
.btns-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.button-div {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.7);
}

.button-div:active {
  box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.8);
}

.button-inner-div {
  width: 45px;
  height: 45px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-inner-div:active {
  width: 47px;
  height: 47px;
  opacity: 0.8;
}

.btn-icon {
  font-size: 2em;
  color: rgb(255, 255, 255, .8);
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.btn-icon:active {
  color: rgba(255, 255, 255, 0.5);
}

/* ********************************* */
/* *        BUTTONS COLORS         * */
/* ********************************* */

.red-btn-out {
  background-color: red;
}

.red-btn-in {
  background-color: rgb(255, 83, 83);
}

.green-btn-out {
  background-color: rgb(0, 114, 0);
}

.green-btn-in {
  background-color: rgb(46, 168, 46);
}

.blue-btn-out {
  background-color: rgb(0, 0, 216);
}

.blue-btn-in {
  background-color: rgb(27, 27, 255);
}

.yellow-btn-out {
  background-color: rgb(161, 161, 7);
}

.yellow-btn-in {
  background-color: rgb(231, 231, 9);
}

.orange-btn-out {
  background-color: rgb(177, 115, 0);
}

.orange-btn-in {
  background-color: orange;
}

.grey-btn-out {
  background-color: rgb(66, 66, 66);
}

.grey-btn-in {
  background-color: rgb(102, 102, 102);
}

/* ************************************ */
/* *  INCREMENT/DECREMENT ANIMATIONS  * */
/* ************************************ */

@keyframes inc-num {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 0;
    margin-right: 150px;
    transform: rotate(-90deg);
  }

  50% {
    opacity: 0;
    margin-right: -150px;
    font-size: 0.2em;
    line-height: 1em;
  }

  51% {
    opacity: 1;
    transform: rotate(120deg);
  }

  100% {
    margin-right: 0;
  }
}

@keyframes dec-num {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 0;
    margin-right: -150px;
    transform: rotate(120deg);
  }

  50% {
    opacity: 0;
    margin-right: 150px;
    font-size: 0.2em;
  }

  51% {
    opacity: 1;
    transform: rotate(-90deg);
  }

  100% {
    margin-right: 0;
  }
}

/* ************************************ */
/* *           MEDIA QUERIES          * */
/* ************************************ */

@media(max-width: 1300px) {
  body {
    font-size: .85rem;
  }

  .timer-div {
    min-height: 20vw;
  }

  .set-timer-inner-div {
    width: 22vw;
    height: 22vw;
  }
}

@media(max-width: 1200px) {
  body {
    font-size: .65rem;
  }
  
  .timer-div {
    min-height: 20vw;
  }
  
  .set-timer-inner-div {
    width: 22vw;
    height: 22vw;
  }
  .sound-icon {
    font-size: 3em;
  }

  .btn-icon {
    font-size: 2.5em;
  }

  .abso-btn-icon {
    font-size: 1.75em;
  }
}

@media(max-width: 1100px) {
  /* body {
    font-size: .55rem;
  } */

  .timer-div {
    min-width: 440px;
  }

  .set-timer-inner-div {
    min-width: 250px;
    min-height: 250px;
  }

  .button-div {
    width: 40px;
    height: 40px;
  }
  
  .button-inner-div {
    width: 36px;
    height: 36px;
  }

  .button-inner-div:active {
    width: 38px;
    height: 38px;
  }
}

@media(max-width: 900px) {
  body {
    font-size: .5em;
  }

  .sound-icon {
    font-size: 4em;
  }

  .timer-div {
    min-width: 320px;
    margin: 0 -5rem;
  }

  .the-timer-screen {
    margin: 0 auto;
    width: fit-content;
  }
  
  .set-timer-inner-div {
    min-width: 210px;
    min-height: 210px;
  }
}

@media (max-width: 650px) {
  .app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    width: auto;
    min-width: 400px;

    position: absolute;
    top: 45%;
    left: 90%;
    transform: translate(-50%, -50%) rotate(90deg);

    font-size: 2em;
    margin-bottom: 1rem;
  }

  .btn-div {
    width: 35px;
    height: 35px;
  }
  
  .btn-inner-div {
    width: 32px;
    height: 32px;
  }

    .button-inner-div:active {
      width: 33px;
      height: 33px;
    }
  
  .sesh-switch-phrase {
    width: min-content;
    line-height: 2em;
    letter-spacing: 1px;
    font-size: 0.75em;
    margin: 0;
    margin-top: 10px;
  }

  .std-break {
    order: 2;
  }
  
  .timer-div {
    min-width: fit-content;
    padding: 0 1.5em;
    order: 3;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: -14em;
  }
  
  .timer-inner-div {
    max-width: 180px;
    margin: 0;
    padding: 14em 0;
    
    box-shadow: inset 0 0 50px -20px rgba(0, 0, 0, .9);
    background-color: rgb(132, 132, 132);
  }

  .std-study {
    order: 3;
  }

  .set-timer-inner-div {
    width: 210px;
    height: 210px;
  }

  .timer-value-screen {
    width: 80%;
  }

  .timer-controls-div {
    margin: 1em 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .btn-icon {
    font-size: 2.5em;
  }
  
  .abso-btn-icon {
    font-size: 1.75em;
  }

  .abso-btn-text {
    font-size: 1.35em;
    margin-left: .75em;
  }

  @keyframes inc-num {
    0% {
      opacity: 1;
    }
  
    49% {
      opacity: 0;
      margin-right: 120px;
      transform: rotate(-90deg);
    }
  
    50% {
      opacity: 0;
      margin-right: -120px;
      font-size: 0.2em;
      line-height: 1em;
    }
  
    51% {
      opacity: 1;
      transform: rotate(120deg);
    }
  
    100% {
      margin-right: 0;
    }
  }
  
  @keyframes dec-num {
    0% {
      opacity: 1;
    }
  
    49% {
      opacity: 0;
      margin-right: -120px;
      transform: rotate(120deg);
    }
  
    50% {
      opacity: 0;
      margin-right: 120px;
      font-size: 0.2em;
    }
  
    51% {
      opacity: 1;
      transform: rotate(-90deg);
    }
  
    100% {
      margin-right: 0;
    }
  }
}

@media (max-width: 400px) {
  body {
    font-size: .35rem;
  }

  .timer-div {
    transform: scale(.7);
  }

  .set-timer-div {
    transform: scale(.7);
    margin: -2.5rem 0;
  }

  .slider {
    transform: scale(.7);
  }
}